@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');

body {
    font-family: 'Andika New Basic', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #7C3AED;
    --green-color: #D1FAE5;
    background-color: white;
    color: black;
}

hr {
    margin: 2rem 0rem;
}

/* needed components */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.navigation {
    background-color: var(--primary-color);  
    color: white;  
    padding: 0.1rem;
    border-bottom-left-radius: 2rem;
}

.nav-brand {
    font-weight: bold;
}

.nav-pills {
    text-align: right;    
}

.navigation .link {
    text-decoration: none;
    color: white;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    align-items: center;
}

.header-image {
    text-align: center;
    padding-top: 1rem;
}

.hero-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    background-color: var(--green-color);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: white;
    padding-bottom: 2rem;
}

.ow h1 {
    text-align: center;
}

/* links */

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    font-weight: bold;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    font-weight: bold;
}

/* footer */

.footer {
    background-color: var(--primary-color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem 0rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.footer .link {
    font-weight: bold;
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}